.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* left-align content */
  width: 100%;
  overflow: visible;
}


.pinGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  width: 100%;
}
